/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

/* Title */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title h1 {
    margin: 0;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Body */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(46, 48, 75);
}

/* Book Container */
.book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; /* Adjust as needed for vertical positioning */
}

/* Book */
.book {
    position: relative;
    width: 550px;
    height: 700px;
    transition: transform 0.5s;
}

/* Paper */
.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
    padding: 20px;
    border-radius: 10px;
}

/* Front and Back */
.front,
.back {
    background-color: rgb(224, 202, 173);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    transform-origin: left;
    transition: transform 0.5s;
    border-radius: 10px;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid rgb(156, 140, 96);
}

.back {
    z-index: 0;
}

/* Content */
.front-content h1,
.front-content p,
.back-content h1,
.back-content p {
    text-align: center;
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 24px;
    overflow-wrap: break-word; /* Allow words to break if they exceed the container */
}

.front-content p,
.back-content p {
    text-align: justify;
    margin: 10px 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
    overflow-wrap: break-word; /* Allow words to break if they exceed the container */
}

.back-content {
    transform: rotateY(180deg);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.front-content {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

ul {
    text-indent: 20px;
    font-weight: bold;
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
    z-index: 999;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

#prev-btn,
#next-btn {
    position: relative;
}

#prev-btn {
    left: -20%;
    transform: translateX(-5vw) translateY(-50%);
}

#next-btn {
    right: -20%;
    transform: translateX(5vw) translateY(-50%);
}

img {
    max-width: 100%; /* Ensure images don't exceed their container's width */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Ensure images don't have any extra spacing below them */
    margin: 0 auto; /* Center images horizontally */
    margin-top: 15px;
    border-radius: 10px;
}

canvas {
    pointer-events: none; /* Ensures that mouse events pass through the canvas to underlying elements */
    z-index: 2; /* Make sure the canvas is positioned above the book content */
    border-radius: 10px;
}

img.custom-size {
    width: 300px !important; /* Example width */
    height: 200px !important; /* Example height */
}


/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    .book-container {
        width: 95%;
    }

    i {
        font-size: 7vw;
    }

    #prev-btn,
    #next-btn {
        transform: translateX(2.5vw) translateY(-50%);
    }
}
